{% extends 'base.html.twig' %}

{% block title %} Modification de votre profil {% endblock %}

{% block body %}

<div class="container">
    <h1>Modifiez votre profil !</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>

    {{ form_end(form) }}
</div>

{% endblock %}