{% extends 'base.html.twig' %}

{% block title %}
    Bienvue sur le site bnb toussa
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron mt-3">
            <h1 class="display-3">Bienvue sur SymBnb</h1>
            <p class="lead">Mise en relation de voyageurs et de proprio, comme AirBnb mais fait par G.R</p>
            <hr class="my-4">
            <p>Voyageur et sans logement à 5min de marche pour se rendre à l'E3 et voir Keanu ?</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Check this out</a>
            </p>
        </div>


        <h2 class="h1 mt-3 mb-4"> Nos meilleurs appart' !</h2>

        <div class="row">
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 Chambres, <strong>49&euro; / nuit</strong> <br>
                        <small>Pas encore de notes !</small>
                    </div>

                    <img src="http://placehold.it/1000x400" alt="Image de l'appart" style="height=: 200px; width:100%; display: block;"> 

                    <div class="card-body">
                        <h4 class="card-title"> Appartement ENORME</h4>

                        <p class="card-text">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint natus, delectus a eaque consequuntur placeat maiores sit quia voluptate eos.
                        </p>

                        <a href="#" class="btn btn-secondary">I like your words magic man</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 Chambres, <strong>49&euro; / nuit</strong> <br>
                        <small>Pas encore de notes !</small>
                    </div>

                    <img src="http://placehold.it/1000x400" alt="Image de l'appart" style="height=: 200px; width:100%; display: block;"> 

                    <div class="card-body">
                        <h4 class="card-title"> Appartement ENORME</h4>

                        <p class="card-text">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint natus, delectus a eaque consequuntur placeat maiores sit quia voluptate eos.
                        </p>

                        <a href="#" class="btn btn-secondary">I like your words magic man</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 Chambres, <strong>49&euro; / nuit</strong> <br>
                        <small>Pas encore de notes !</small>
                    </div>

                    <img src="http://placehold.it/1000x400" alt="Image de l'appart" style="height=: 200px; width:100%; display: block;"> 

                    <div class="card-body">
                        <h4 class="card-title"> Appartement ENORME</h4>

                        <p class="card-text">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint natus, delectus a eaque consequuntur placeat maiores sit quia voluptate eos.
                        </p>

                        <a href="#" class="btn btn-secondary">I like your words magic man</a>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="h1 mt-3 mb-4"> Nos proprio les plus BG !_!</h2>

        <div class="row">
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body"> 
                        <h4 class="card-title">Gui Rorive</h4>

                        <hr>

                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="Avatar du type bg" class="float-left mr-3">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, non.</p>
                            <a href="#" class="btn btn-success float-right">I like your words magic man</a>
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body"> 
                        <h4 class="card-title">Gui Rorive</h4>

                        <hr>

                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="Avatar du type bg" class="float-left mr-3">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, non.</p>
                            <a href="#" class="btn btn-success float-right">I like your words magic man</a>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> {# Container #}
{% endblock %}